<h1>Login</h1>
<form [formGroup]="loginForm" class="login-container" (ngSubmit)="login()">
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      autocomplete="email"
      formControlName="email"
      [ngClass]="{ 'is-invalid': email | hasError }"
    />
    <div class="invalid-feedback" *ngIf="email | hasError">
      <div *ngIf="email | hasError: 'required'">
        Email is required
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="Password">Password</label>
    <input
      type="password"
      class="form-control"
      autocomplete="current-password"
      formControlName="password"
      [ngClass]="{ 'is-invalid': password | hasError }"
    />
    <div class="invalid-feedback" *ngIf="password | hasError">
      <div *ngIf="password | hasError: 'required'">
        Password is required
      </div>
    </div>
  </div>
</form>

<button type="button" (click)="login()" class="btn btn-primary">Login</button>
